body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*light mode*/

:root {
  --btn-background: #cc0000;
  --btn-text: white;
  --text-left: #2f4f4f;
  --left-background: #cecece;
  --right-background: white;
  --text-right: #000000;
}

/*dark mode*/

[data-theme='dark'] {
  --btn-background: #f0f8ff;
  --btn-text: #800080;
  --text-left: #696969;
  --left-background: white;
  --right-background: #008080;
  --text-right:white;
}
